{% extends "base.html" %}

{% block content %}
<h2>Adicionar Loja</h2>
<form method="POST">
    <label>Nome da loja</label>
    <input type="text" name="nome" required>
    
    <label>Endereço</label>
    <input type="text" name="endereco" required>
    
    <label>Telefone</label>
    <input type="text" name="telefone" required>
    
    <label>WhatsApp (opcional)</label>
    <input type="text" name="whatsapp">
    
    <label>
        <input type="checkbox" name="premium"> Destaque / Premium
    </label>
    
    <button type="submit">Adicionar Loja</button>
</form>
{% endblock %}