<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Guia Comercial</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
<h1>🌸 Guia Comercial da Cidade</h1>
<p>Encontre lojas, serviços e empresas perto de você</p>
</header>

<nav>
<a href="/">Início</a>
<a href="/cadastro">Cadastrar Loja</a>
</nav>

<div class="container">

{% for loja in lojas %}
<div class="card">

<img src="{{ url_for('static', filename='imagens/' + loja.imagem) }}">

<h2>{{ loja.nome }}</h2>

<p><b>Categoria:</b> {{ loja.categoria }}</p>

<p>{{ loja.descricao }}</p>

<button>Ver Contato</button>

</div>
{% endfor %}

</div>

<footer>
<p>© 2026 Guia Comercial - Criado por Thais</p>
</footer>

</body>
</html>